
RCE Admin/RCE_ADMIN/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
RCE Admin/RCE_ADMIN/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RCE Admin/RCE_ADMIN/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RCE Admin/RCE_ADMIN/obj/Debug/RCE Admin.exe
RCE Admin/RCE_ADMIN/obj/Debug/rce admin.exe.licenses
RCE Admin/RCE_ADMIN/obj/Debug/RCE Admin.pdb
RCE Admin/RCE_ADMIN/obj/Debug/RCE_ADMIN.csproj.AssemblyReference.cache
RCE Admin/RCE_ADMIN/obj/Debug/RCE_ADMIN.csproj.CopyComplete
RCE Admin/RCE_ADMIN/obj/Debug/RCE_ADMIN.csproj.CoreCompileInputs.cache
RCE Admin/RCE_ADMIN/obj/Debug/RCE_ADMIN.csproj.FileListAbsolute.txt
RCE Admin/RCE_ADMIN/obj/Debug/RCE_ADMIN.csproj.GenerateResource.cache
RCE Admin/RCE_ADMIN/obj/Debug/RCE_ADMIN.Form1.resources
RCE Admin/RCE_ADMIN/obj/Debug/RCE_ADMIN.Properties.Resources.resources
RCE Admin/RCE_ADMIN/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
RCE Admin/RCE_ADMIN/setup.iss
*.dll
*.xml
*.json
*.db
*.pdb
*.exe
*.config
*.vsidx
RCE Admin/.vs/RCE_ADMIN/v17/.suo
